nav {
  background-color: #247fcf;
  color: #0d2033;
}

.pie-pagina {
  width: 100%;
  height: 100%;
  background-color: #247fcf;
  position: relative;
  margin: 0;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 10px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure iframe {
  width: 400px;
  height: 200px;
  border-radius: 6px;
  right: 40px;
  position: relative;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .pie-pagina .grupo-1 .box figure iframe {
    width: 300px;
    height: 170px;
    border-radius: 6px;
    right: 80px;
    position: relative;
  }
  .pie-pagina .box figure iframe {
    width: 300px;
    height: 170px;
    border-radius: 6px;
    right: 80px;
    position: relative;
  }
}

#inicio {
  background-image: url(https://www.ecestaticos.com/imagestatic/clipping/050/a5b/050a5b706d09adbb82e7b30146cc2d66/debo-seguir-pagando-la-derrama-del-ascensor-si-hay-vecinos-morosos.jpg?mtime=1667296234);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.titulo {
  text-align: center;
  font-size: 40px;
  color: #000000;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 70px;
}

.container-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: #fff;
}
.container-servicios .servicios {
  width: 330px;
  height: 590px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 100px 20px 20px;
  text-align: center;
  transition: all 0.25s;
}
.container-servicios .servicios:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-servicios .servicios img {
  width: 330px;
  height: 220px;
}
.container-servicios .servicios h4 {
  font-weight: 600;
}
.container-servicios .servicios p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container-servicios .servicios a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.galeria img {
  max-width: 400px;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
